.todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.todocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px;
    border: 2px solid black;
    padding: 20px;
    height: fit-content;
    background-color: rgb(255, 243, 227);
}

.list-item {
    list-style: none;
}

.list-item li {
    background-color: rgb(224, 215, 215);
    margin: 10px;
    width: 500px;
    font-size: 30px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.list-item li:hover {
    box-shadow: 5px 5px 10px rgba(43, 42, 42, 0.333);
}
.delete{
    margin-right: 0px;
    color:red;
}